.hidden {
    display: none; /* Hides the section completely */
}

.navbar-dark {
    --bs-navbar-toggler-icon-bg:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb%28254, 255, 255%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden; /* Prevent horizontal overflow */
    width: 100%;
    position: relative;
    color: rgb(255, 255, 255);
    font-family: 'Philosopher';
    /*font-size: 1.25rem;*/
    /* transition: background-color ease-out 0.33s; */
}

@media (max-width: 768px) {
    body {
        font-size: 15px;
    }
}

@media (max-width: 1200px) {
    body {
        font-size: 16px;
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 18px;
    }
}

.navbar-brand {
    font-size: 3rem;
    font-weight: bold;
}
#sungrave-navbar {
    position: absolute;
    top: -1px;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}
#sungrave-navbar.is-pinned {
    position: fixed;
    height: auto;
    z-index: 1;
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
    transition: background-color ease-out 0.33s;
}
#sungrave-nav-container {
    top: -1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px; /* Adds space between elements */
}
#sungrave-navbar.is-pinned #sungrave-nav-container {
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
    justify-content: space-between !important;
}
#sungrave-navbar.is-pinned #sungrave-nav-container .navbar-collapse {
    flex-direction: row !important;
    align-items: baseline;
}

/* overwrite navbar link styling to make them more visible */
.navbar .navbar-nav .nav-link, .navbar-dark .navbar-langsel .nav-link {
    color: rgba(255, 255, 255 , 0.8);
}

a > .social-link {
    height: 2rem;
}


.landing > .landing-img {
    background-size: cover;
    background-position-x:100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 25vh;
}
.landing > .landing-img.landing-grant {
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../img/SG_HQ_Denver_webonly_Singles-Grant.jpg);
}
.landing > .landing-img.landing-joe {
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../img/SG_HQ_Denver_webonly_Singles-Joe.jpg);
    background-position-y: 45%;
    background-size: 120%;
    background-position-x: 50%;
}
.landing > .landing-img.landing-nate {
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../img/SG_HQ_Denver_webonly_Singles-Nate.jpg);
    background-position-y: 20%;
}
.landing > .landing-img.landing-nick {
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../img/SG_HQ_Denver_webonly_Singles-Nick.jpg);
    background-position-y: 23%;
    background-position-x: 0%;
}

@media (min-width: 576px) {
    .landing > .landing-img {
        width: 25vw;
        height: auto;
    }
    .landing > .landing-img.landing-joe {
        background-position-y: 80%;
        background-position-x: 50%;
        background-size: 200%;
    }
}
@media (min-width: 768px) {
    .navbar .navbar-nav .nav-link {
        border-bottom: 3px solid transparent;
    }
    .navbar.is-pinned .navbar-nav .nav-link.active {
        border-bottom-color: rgba(255, 255, 255 , 0.8);
    }
}
.modal.fade .modal-dialog {
    transition: transform 0.25s ease-out;
    transform: scale(0.8);
  }
  @media (prefers-reduced-motion: reduce) {
    .modal.fade .modal-dialog {
      transition: none;
    }
  }
  .modal.show .modal-dialog {
    transform: none;
  }
  .modal.modal-static .modal-dialog {
    transform: scale(1.02);
  }













.head-text {
    font-family: 'Philosopher';
    /* font-weight: bold; */
}


/* 
The darken-overlay class will be applied to the body in JS.  
This will put an overlay over everything behind the navbar 
*/
body.darken-overlay:after {
    content:'';
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    width:100%;
    height: 100%;
    top:0;
    left:0;
    z-index: 0;
}

/* 
Using css grid for the home container 
This allows us to switch position of the rows for mobile
*/
.home-container {
    min-height: 93vh;
    display: grid;
    grid-template-rows: auto 60px auto;
    grid-template-areas: 
    "logo"
    "nav"
    "social";
}
.home-container .logo {
    max-height: 15rem; 
    max-width: 15rem; 
    width: 90vw;
    grid-area: logo;
    font-family: 'Philosopher';
    color: #fff;
}
.home-container nav {
    grid-area: nav;
}
.home-container .social-container {
    grid-area: social;
}

@media (min-width: 1200px) {
    .lisent-container{
        max-width: 970px;
    }
}

.news-container1 {
    height: 30vh;
    color: #fff;
    position: relative;
    /* font-size: 1.25rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    /*border-bottom-style: solid;
    border-bottom-width: 10px;
    border-bottom-color: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1));*/
}

.news-container {
    height: 30vh;
    color: rgba(197, 197, 197, .7);
    position: relative;
    /* font-size: 1.25rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    /*border-bottom-style: solid;
    border-bottom-width: 10px;
    border-bottom-color: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1));*/
    box-shadow: 0px 25px 25px rgba(0, 0, 0, .6) inset;
    font-size: 1.15rem;
    transition: all .1s ease-in;
}

.news-container.active {
    color: #fff;
    height: 40vh;
    box-shadow: none;
    transition: all .1s ease-in;
}

/* navbar styles */
/* .navbar {
    transition: background-color ease-out 0.33s;
}
.navbar.affix {
    position: fixed;
    width:100%;
    z-index: 1;
} */

 .navbar-brand {
    font-family: 'Philosopher';
    font-weight:  400;
    letter-spacing: 0.35rem;
}

.navbar-brand img {
    height: 40px;
    max-height: 100%;
}

.navbar-brand img.logo {
    width: 100%; /* Ensure the logo scales */
    max-width: calc(100vw - 150px); /* Subtract space for dropdowns or other items */
    max-height: 60px;
    height: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Ensures proper scaling */
}

/*.navbar.bg-dark .navbar-brand {
    display: block;
}
.navbar.bg-dark {
    opacity: 0.95;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(../img/SG_HQ_Denver_webonly_Singles-Joe.jpg.jpg) !important;
    background-size: cover;
    border-bottom-style: solid;
    border-bottom-color: rgba(197, 197, 197, .5);
} */

.dropdown-listen {
    background-color: rgba(0,0,0,.75);
    color: rgba(255, 255, 255 , 0.8);
}

.dropdown-item {
    color: rgba(255, 255, 255, .8);
}

/* image-cover class that will be used by every section */
.image-cover {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    position: relative;
}

.image-cover-repeat {
    background-repeat: repeat-y;
    background-size: 100% auto;
    width: 100%;
    position: relative;
}

#home.image-cover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), 
    url(../img/SG_HQ_Denver_webonly_Singles-Nate.jpg),
    url(../img/SG_HQ_Denver_webonly_Singles-Nick.jpg),
    url(../img/SG_HQ_Denver_webonly_Singles-Joe.jpg),
    url(../img/SG_HQ_Denver_webonly_Singles-Grant.jpg);

    /* Control the placement of the images */
    background-position: 0vw 0vh, 25vw 0vh, 50vw 0vh, 75vw, 0vh;
    background-size: 25vw 100vh, 25vw 100vh, 25vw 100vh, 25vw 100vh;
    background-repeat: no-repeat; /* No repetition of the images */

    /* Set the container to take up the full screen width and height */
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent any overflow */
}

/*#about .image-cover-repeat, #footer .image-cover-repeat*/
#listen .image-cover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0,0,0,0.9)), url(../img/BnW_Banner_No_Text.png);
    background-size: contain;

    /* Fills the remaining space with a dark color */
    background-color: #000; 

    /* Set the container to take up the full screen width and height */

    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent any overflow */
}

#footer .image-cover-repeat {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75), rgba(0,0,0,0.75)), url(../img/sungrave_ALBUM_FINAL_no-text.jpg);
}

#about .image-cover {
    background-position: cover;
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(../img/sungrave_ALBUM_FINAL_no-text.jpg);
}

#news1 .image-cover {
    background-image: linear-gradient(rgba(0, 0, 0, .75), rgba(0, 0, 0, 0.75), rgba(0,0,0,0.75)), url(../img/Faeton.png);
}

#news1 .image-cover.active {
    background-image: linear-gradient(rgba(255, 255, 255, .2), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6), rgba(255, 255, 255 , 0.2)), url(../img/Faeton.png);
}

#news2 .image-cover {
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, 0.8), rgba(0,0,0,0.6)), url(../img/metalperver.jpg);
}

#news2 .image-cover.active {
    background-image: linear-gradient(rgba(255, 255, 255, .2), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/metalperver.jpg);
}

#news3 .image-cover {
    background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, 0.4), rgba(0,0,0,0.4)), url(../img/Mariana.png);
}

#news3 .image-cover.active {
    background-image: linear-gradient(rgba(255, 255, 255, .2), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6), rgba(255, 255, 255 , 0.2)), url(../img/Mariana.png);
}

#news4 .image-cover {
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, 0.8), rgba(0,0,0,0.6)), url(../img/arcticdrones.jpg);
}

#news4 .image-cover.active {
    background-image: linear-gradient(rgba(255, 255, 255, .2), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6), rgba(255, 255, 255 , 0.2)), url(../img/arcticdrones.jpg);
}

#news5 .image-cover {
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, 0.6), rgba(0,0,0,0.6)), url(../img/tasting-table-cover.jpg);
}

#news5 .image-cover.active {
    background-image: linear-gradient(rgba(255, 255, 255, .2), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6), rgba(255, 255, 255 , 0.2)), url(../img/tasting-table-cover.jpg);
}

#news6 .image-cover {
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, 0.6), rgba(0,0,0,0.6)), url(../img/umviajante-cover.jpg);
}

#news6 .image-cover.active {
    background-image: linear-gradient(rgba(255, 255, 255, .2), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6), rgba(255, 255, 255 , 0.2)), url(../img/umviajante-cover.jpg);
}

/* footer styles defined here */
.footer-image {
    max-height: 150px;
    margin:15px 0;
}
.text-underline {
    text-decoration: underline;
}

/* social media icons */
.social > a {
    font-size: 1.9rem;
    color: rgb(197, 197, 197);
    padding: 0 15px;
}
.social > a:hover,
.navbar .navbar-nav .nav-link:hover {
    color: #fff;
}

/* Media queries for scaling the icons at smaller screen sizes */
@media (max-width: 768px) {
    .social > a {
        padding: 0 1.2rem;  /* Reduce padding for smaller screens */
    }
    .social-link {
        width: 2.5rem;
        height: 2.5rem;
    }
}

@media (max-width: 475px) {
    .social > a {
        padding: 0 0.8rem;  /* Reduce padding for smaller screens */
    }
    .social-link {
        width: 2.3rem;
        height: 2.3rem;
    }
}

@media (max-width: 350px) {
    .social > a {
        padding: 0 0.4rem;  /* Reduce padding for smaller screens */
    }
    .social-link {
        width: 2.1rem;
        height: 2.1rem;
    }
}

/* Modal media icons */
#contactModal {
    color: rgb(59, 59, 59);
}

#contactModal a {
    color: rgb(59, 59, 59);
    padding: 0 15px;
}
#contactModal a:hover {
    color: rgba(59, 59, 59, 0.6);
}
#contactModal a.media-link{
    font-size: 1.9rem;
}

/* location media icons */
.location > a {
    color: rgb(197, 197, 197);
    padding: 0 15px;
}
.location > a:hover {
    color: rgba(197, 197, 197, 0.4);
}

/* listen links */
#listen a {
    color: rgb(197, 197, 197);
    text-decoration: underline;
}

#listen a:hover {
    color: rgba(197, 197, 197, 0.4);
    text-decoration: underline;
}

/* news links */
.news-container a {
    color: rgb(197, 197, 197, .7);
    text-decoration: underline;
}

.news-container a:hover {
    color: rgba(197, 197, 197, 0.4);
    text-decoration: underline;
}

.news-container.active a {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.news-container.active a:hover {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: underline;
}


/* narrow screen */
@media (max-width: 575.98px) {
    /* reorder our rows to put the navbar on top */
    .home-container {
        grid-template-rows: 60px auto auto;
        grid-template-areas: 
            "nav"
            "logo"
            "social";       
    }
    /* fix the navbar and reset position:relative on the navbar-brand */
    .navbar {
        position: fixed;
        width:100%;
        z-index: 1;
    }
    .navbar-brand {
        position: relative;
    }
}

/* .bg-dark .header-text {
    color:rgb(209, 132, 45);
} */

span.nobr { white-space: nowrap; }

.text-muted {
    color: #9d9da5!important
}

/*
.four-vertical-images {
    display: flex;
    height: 100vh;      /* Full viewport height 
    width: 100vw;       /* Full viewport width 
    margin: 0;          /* Remove any extra margins 
    padding: 0;         /* Remove any padding 
    overflow: hidden;  /* Prevent any overflow within the flexbox 
}

.four-vertical-images img {
    width: 25vw;    /* Force each image to take up 25% of the viewport width 
    height: 100vh;  /* Make each image take the full height of the viewport 
    object-fit: cover;  /* Ensure images cover their containers without distortion 
    box-sizing: border-box;  /* Ensure padding and border don't affect width 
}


.carousel-inner .carousel-item {
    display: flex;
    align-items: center;
}
  
.carousel-inner .carousel-item .col-6 {
    padding: 0;
}
  
.carousel-inner .carousel-item img {
    width: 25vw;    /* Force each image to take up 25% of the viewport width 
    height: 100vh;  /* Make each image take the full height of the viewport 
}
*/ 