body {
    padding: 0;
    margin: 0;
    /* background-color: #343a40; */
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/img/tim-mossholder-635962-unsplash-web.jpg);
    background-attachment: fixed;
    background-repeat: repeat-y;
    background-size: 100% auto; */
    overflow-x: hidden; /* Prevent horizontal overflow */
    width: 100%;
    position: relative;
    color: rgb(255, 255, 255);
    font-family: 'Lato', sans-serif;
    /*font-size: 1.25rem;*/
    transition: background-color ease-out 0.33s;
}

@media (max-width: 768px) {
    body {
        font-size: 15px;
    }
}

@media (max-width: 1200px) {
    body {
        font-size: 16px;
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 18px;
    }
}

.head-text {
    font-family: 'Raleway', sans-serif;
    /* font-weight: bold; */
}

/* 
The darken-overlay class will be applied to the body in JS.  
This will put an overlay over everything behind the navbar 
*/
body.darken-overlay:after {
    content:'';
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    width:100%;
    height: 100%;
    top:0;
    left:0;
    z-index: 0;
}

/* 
Using css grid for the home container 
This allows us to switch position of the rows for mobile
*/
.home-container {
    min-height: 93vh;
    display: grid;
    grid-template-rows: auto 60px auto;
    grid-template-areas: 
    "logo"
    "nav"
    "social";
}
.home-container .logo {
    max-height: 15rem; 
    max-width: 15rem; 
    width: 90vw;
    grid-area: logo;
    font-family: 'Bad Script';
    color: #fff;
}
.home-container nav {
    grid-area: nav;
}
.home-container .social-container {
    grid-area: social;
}

@media (min-width: 1200px) {
    .menu-container{
        max-width: 970px;
    }
}

.menu-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    padding: 25px;
    margin-left:auto;
    margin-right:auto;
    /*margin: 10px; */
    /*box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    /*border-style: solid;
    border-width: 1px;
    border-color: rgba(197, 197, 197, 0.4); */
    /*text-align: center; */
}

.menu-subcontainer-left {
    border-style: solid;
    border-right: 0;
    border-top: 0;
    border-color: rgba(197, 197, 197, 0.6);
    padding: 10px;
}

.menu-subcontainer-right {
    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-color: rgba(197, 197, 197, 0.6);
    padding: 10px;
}
.menu {
    /*padding: 10px;
    margin: 10px; */
    /*box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    /*border-style: dashed;
    border-width: 1px;
    border-color: rgb(197, 197, 197); */
    

}

.review-container1 {
    height: 30vh;
    color: #fff;
    position: relative;
    /* font-size: 1.25rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    /*border-bottom-style: solid;
    border-bottom-width: 10px;
    border-bottom-color: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1));*/
}

.review-container {
    height: 30vh;
    color: rgba(197, 197, 197, .7);
    position: relative;
    /* font-size: 1.25rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    /*border-bottom-style: solid;
    border-bottom-width: 10px;
    border-bottom-color: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1));*/
    box-shadow: 0px 25px 25px rgba(0, 0, 0, .6) inset;
    font-size: 1.15rem;
    transition: all .1s ease-in;
}

.review-container.active {
    color: #fff;
    height: 40vh;
    box-shadow: none;
    transition: all .1s ease-in;
}

/* navbar styles */
.navbar {
    transition: background-color ease-out 0.33s;
}
.navbar.affix {
    position: fixed;
    width:100%;
    z-index: 1;
}

.navbar-brand {
    display: none;
    position: absolute;
    font-family: 'Bad Script';
}
.navbar.bg-dark .navbar-brand {
    display: block;
}
.navbar.bg-dark {
    opacity: 0.95;
    /* background-color: rgb(65, 48, 17)!important; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(/img/SG_HQ_Denver_webonly_Singles-Joe.jpg.jpg) !important;
    background-size: cover;
    border-bottom-style: solid;
    border-bottom-color: rgba(197, 197, 197, .5);
}

/* overwrite navbar link styling to make them more visible */
.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-langsel .nav-link {
    color: rgba(255, 255, 255 , 0.8);
}

.navbar-dark .navbar-nav .nav-link.active {
    font-weight: bold;
}

.dropdown-menu {
    background-color: rgba(0,0,0,.75);
    color: rgba(255, 255, 255 , 0.8);
}

.dropdown-item {
    color: rgba(255, 255, 255, .8);
}

/* image-cover class that will be used by every section */
.image-cover {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    position: relative;
}

.image-cover-repeat {
    background-repeat: repeat-y;
    background-size: 100% auto;
    width: 100%;
    position: relative;
}

#home.image-cover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), 
    url(/img/SG_HQ_Denver_webonly_Singles-Nate.jpg),
    url(/img/SG_HQ_Denver_webonly_Singles-Nick.jpg),
    url(/img/SG_HQ_Denver_webonly_Singles-Joe.jpg),
    url(/img/SG_HQ_Denver_webonly_Singles-Grant.jpg);

    /* Control the placement of the images */
    background-position: 0vw 0vh, 25vw 0vh, 50vw 0vh, 75vw, 0vh;
    background-size: 25vw 100vh, 25vw 100vh, 25vw 100vh, 25vw 100vh;
    background-repeat: no-repeat; /* No repetition of the images */

    /* Set the container to take up the full screen width and height */
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent any overflow */
}

/*#about .image-cover-repeat, #footer .image-cover-repeat*/
#menu .image-cover-repeat {
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, 0.6), rgba(0,0,0,0.6)), url(/img/SG_HQ_Denver_webonly_Singles-Nick.jpg);
}

#footer .image-cover-repeat {
    background-image: linear-gradient(rgba(255, 255, 255, .1), rgba(0, 0, 0, 0.6), rgba(0,0,0,0.6)), url(/img/SG_HQ_Denver_webonly_Singles-Grant.jpg);
}

#about .image-cover-repeat {
    background-image: linear-gradient(rgba(218, 192, 143, .7), rgba(218, 192, 143, .7), rgba(218, 192, 143, .7)), url(/img/tim-mossholder-635962-unsplash-web.jpg);
}

#review1 .image-cover {
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, 0.6), rgba(0,0,0,0.6)), url(/img/DSC_1044.jpg);
}

#review1 .image-cover.active {
    background-image: linear-gradient(rgba(255, 255, 255, .2), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6), rgba(255, 255, 255 , 0.2)), url(/img/DSC_1044.jpg);
}

#review2 .image-cover {
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, 0.6), rgba(0,0,0,0.6)), url(/img/DSC_2517.jpg);
}

#review2 .image-cover.active {
    background-image: linear-gradient(rgba(255, 255, 255, .2), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6), rgba(255, 255, 255 , 0.2)), url(/img/DSC_2517.jpg);
}

#review3 .image-cover {
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, 0.6), rgba(0,0,0,0.6)), url(/img/DSC_0000.png);
}

#review3 .image-cover.active {
    background-image: linear-gradient(rgba(255, 255, 255, .2), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6), rgba(255, 255, 255 , 0.2)), url(/img/DSC_0000.png);
}

#review4 .image-cover {
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, 0.6), rgba(0,0,0,0.6)), url(/img/DSC_2444.jpg);
}

#review4 .image-cover.active {
    background-image: linear-gradient(rgba(255, 255, 255, .2), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6), rgba(255, 255, 255 , 0.2)), url(/img/DSC_2444.jpg);
}

#review5 .image-cover {
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, 0.6), rgba(0,0,0,0.6)), url(/img/tasting-table-cover.jpg);
}

#review5 .image-cover.active {
    background-image: linear-gradient(rgba(255, 255, 255, .2), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6), rgba(255, 255, 255 , 0.2)), url(/img/tasting-table-cover.jpg);
}

#review6 .image-cover {
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, 0.6), rgba(0,0,0,0.6)), url(/img/umviajante-cover.jpg);
}

#review6 .image-cover.active {
    background-image: linear-gradient(rgba(255, 255, 255, .2), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6), rgba(255, 255, 255 , 0.2)), url(/img/umviajante-cover.jpg);
}

/* footer styles defined here */
.footer-image {
    max-height: 150px;
    margin:15px 0;
}
.text-underline {
    text-decoration: underline;
}

/* social media icons */
.social > a {
    font-size: 1.9rem;
    color: rgb(197, 197, 197);
    padding: 0 15px;
}
.social > a:hover {
    color: rgba(197, 197, 197, 0.4);
}

/* Modal media icons */
#contactModal {
    color: rgb(59, 59, 59);
}

#contactModal a {
    font-size: 1.9rem;
    color: rgb(59, 59, 59);
    padding: 0 15px;
}
#contactModal a:hover {
    color: rgba(59, 59, 59, 0.4);
}

/* location media icons */
.location > a {
    color: rgb(197, 197, 197);
    padding: 0 15px;
}
.location > a:hover {
    color: rgba(197, 197, 197, 0.4);
}

/* menu links */
#menu a {
    color: rgb(197, 197, 197);
    text-decoration: underline;
}

#menu a:hover {
    color: rgba(197, 197, 197, 0.4);
    text-decoration: underline;
}

/* review links */
.review-container a {
    color: rgb(197, 197, 197, .7);
    text-decoration: underline;
}

.review-container a:hover {
    color: rgba(197, 197, 197, 0.4);
    text-decoration: underline;
}

.review-container.active a {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.review-container.active a:hover {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: underline;
}


/* narrow screen */
@media (max-width: 575.98px) {
    /* reorder our rows to put the navbar on top */
    .home-container {
        grid-template-rows: 60px auto auto;
        grid-template-areas: 
            "nav"
            "logo"
            "social";       
    }
    /* fix the navbar and reset position:relative on the navbar-brand */
    .navbar {
        position: fixed;
        width:100%;
        z-index: 1;
    }
    .navbar-brand {
        position: relative;
    }
}

/* .bg-dark .header-text {
    color:rgb(209, 132, 45);
} */

span.nobr { white-space: nowrap; }

.text-muted {
    color: #9d9da5!important
}

/*
.four-vertical-images {
    display: flex;
    height: 100vh;      /* Full viewport height 
    width: 100vw;       /* Full viewport width 
    margin: 0;          /* Remove any extra margins 
    padding: 0;         /* Remove any padding 
    overflow: hidden;  /* Prevent any overflow within the flexbox 
}

.four-vertical-images img {
    width: 25vw;    /* Force each image to take up 25% of the viewport width 
    height: 100vh;  /* Make each image take the full height of the viewport 
    object-fit: cover;  /* Ensure images cover their containers without distortion 
    box-sizing: border-box;  /* Ensure padding and border don't affect width 
}


.carousel-inner .carousel-item {
    display: flex;
    align-items: center;
}
  
.carousel-inner .carousel-item .col-6 {
    padding: 0;
}
  
.carousel-inner .carousel-item img {
    width: 25vw;    /* Force each image to take up 25% of the viewport width 
    height: 100vh;  /* Make each image take the full height of the viewport 
}
*/ 